<table mat-table [dataSource]="songs" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let song">{{ song.id }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let song">{{ song.title }}</td>
  </ng-container>

  <!-- Artist Column -->
  <ng-container matColumnDef="artist">
    <th mat-header-cell *matHeaderCellDef>Artist</th>
    <td mat-cell *matCellDef="let song">{{ song.artist }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"
    [ngClass]="{ 'active-row': row === activeRow }" class="audio-row"></tr>
</table>

<audio *ngIf="activeRow" id="audioPlayer" controls style="display: none;">
  <source [src]="activeRow.audioSource" type="audio/mp3">
</audio>

<button mat-button (click)="playPause()">{{ pause ? 'Pause' : 'Play'}}</button>